.loading,
.empty {

  text-align:center;
  margin-top:40px;

}



.titulo {

  background:#f5f7fb;

  padding:20px;

  border-radius:12px;

  margin-bottom:20px;


}



.titulo h1 {

  margin:0;

  font-size:24px;

  font-weight:700;

}



.seccion {


  margin-bottom:25px;


}




.seccion-titulo {


  background:#1e88e5;

  color:white;

  padding:12px 15px;

  border-radius:10px 10px 0 0;

  margin:0;


}



.descripcion {


  background:#eef5ff;

  padding:12px;

  margin:0;

  font-size:14px;

}




.criterio-card {


  background:white;

  border-radius:12px;

  padding:15px;

  margin-top:15px;

  box-shadow:
  0 3px 10px rgba(0,0,0,.08);


}



.criterio {


  font-size:15px;

  line-height:1.5;

  font-weight:600;


}




ion-item {


  --background:transparent;

  margin-top:5px;


}



ion-label span {


  font-size:13px;

  color:#666;


}



.observacion {


  margin-top:30px;

}



textarea {


  width:100%;

  border-radius:10px;

  border:1px solid #ccc;

  padding:10px;

  margin-top:10px;

  resize:none;


}




.guardar {


  margin-top:25px;

  height:50px;

  font-size:16px;

  font-weight:bold;


}