<app-header 
  titulo="Formulario de Evaluación">
</app-header>


<ion-content class="ion-padding">


<div 
  *ngIf="cargando"
  class="loading">

  <h3>
    Cargando formulario...
  </h3>

</div>




<ng-container
 *ngIf="!cargando && formulario">



<div class="titulo">

<h1>
{{formulario.rubrica?.nombre}}
</h1>


<p>
Puntaje máximo:
{{formulario.rubrica?.puntaje_maximo}}
</p>

</div>





<div
class="seccion"
*ngFor="
let seccion of formulario.secciones
">


<h2 class="seccion-titulo">

{{seccion.nombre}}

</h2>



<p class="descripcion">

{{seccion.descripcion}}

</p>





<div
class="criterio-card"
*ngFor="
let criterio of seccion.criterios
">



<p class="criterio">

{{criterio.texto}}

</p>





<ion-radio-group
[(ngModel)]="respuestas[criterio.id]"
>


<ion-item
*ngFor="
let nivel of criterio.niveles
">


<ion-radio

slot="start"

[value]="nivel.id"

(ionChange)="
seleccionar(
criterio.id,
nivel.id
)"

>


</ion-radio>



<ion-label>


{{nivel.nombre}}

<br>


<span>
{{nivel.descripcion}}
-
{{nivel.puntaje}}
puntos
</span>


</ion-label>


</ion-item>



</ion-radio-group>



</div>


</div>






<div class="observacion">


<ion-item>

<ion-label
position="stacked">

Observaciones

</ion-label>



<textarea

[(ngModel)]="observacion"

rows="5"

placeholder="Ingrese observaciones adicionales">

</textarea>


</ion-item>


</div>






<ion-button

expand="block"

class="guardar"

(click)="guardar()"

>

Guardar Evaluación

</ion-button>




</ng-container>





<div

*ngIf="!cargando && !formulario"

class="empty">


<h3>
No existe formulario disponible
</h3>


<p>
Verifique la asignación del proyecto.
</p>


</div>




</ion-content>